<h1>Editing question</h1>



<%= render 'form' %>

<%= link_to 'Show', problem_set_question_path(@problem_set.id, @question.id) %> |
<%= link_to 'Destroy', [@problem_set, @question], :confirm => 'Are you sure?', :method => :delete %> |
<%= link_to 'Back', problem_set_questions_path %>
