<%= form_for([@problem_set, @question, @response]) do |f| %>
  <% if @response.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@response.errors.count, "error") %> prohibited this response from being saved:</h2>

      <ul>
      <% @response.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 
  <div class="field">
    <input id="user_id" name="user_id" size="30" value="" type="text" />
  </div>
  <br />
  <div class="actions">
    <%= f.submit "Submit Answer" %>
  </div>
<% end %>
